// Mixins in here
.parametric-button(@width: 50%, @font-color: white, @bg: rgb(47, 129, 149)) {
    width: @width;
    color: @font-color;
    background-color: @bg;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}