// Navigation Styles here
nav {
    display: flex;
    width: 45%;
    justify-content: flex-end;
    @media @mobile {
        margin: 0 auto;
        justify-content: space-around;
        width: 100%;
    }
}
nav a {
    font-size: 12px;
    text-decoration: none;
    color: black;
    padding: 10px;
}